.title-header {
    text-align: center;
    background-color: greenyellow;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    font-family: 'Courier New', Courier, monospace ;
    font-size: xx-large;
}
.temperature {
     background-color: rgba(172, 255, 47,0.5);
     text-align: center;
     cursor: default;
     padding-top: 30px;
     padding-bottom: 30px;
     font-size: x-large;
     border-radius: 20px;


}
html {
    background-color: #87cefa;
}
.air-quality-index {
    background-color: rgb(172, 255, 47);
    text-align: center;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: x-large;
    border-radius: 20px;
}
.air-pollution {
    background-color: rgb(172, 255, 47);
    text-align: center;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: x-large;
    border-radius: 20px;
}
.air-purity {
    background-color: rgb(172, 255, 47);
    text-align: center;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: x-large;
    border-radius: 20px;
}
.humidity {
    background-color: rgb(172, 255, 47);
    text-align: left;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-size: x-large;
    border-radius: 20px;
}
.extra-topic {
    background-color: rgb(172, 255, 47);
    text-align: center;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: x-large;
    border-radius: 20px;
}
h2,h1,h3,h4,h5,details {
    margin-top: 7px;
    margin-bottom: 20px;
}
.center {
 text-align: center;
}
.put-it-right {
    text-align: left;
    padding-left: 10px;

}
.air-purity {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
li{
    text-align: left;
}